$containerWidth: 1450px;

@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return $textMain;
  } @else {
    @return #fff;
  }
}

@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}
