.navbar {
  padding: 8px 0;
  width: 100%;
  border-bottom: 1px solid #aaa;
  margin-bottom: 18px;
  @include set-background(#eee);

  &-items {
    margin: auto;
    max-width: $containerWidth;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  a {
    color: $textMain;
    text-decoration: none;
  }

  &-header {
    font-size: 32px;
  }

  &-links {
    font-size: 20px;
    display: flex;
    gap: 6px;
  }

  &-search {
    align-self: center;

    form {
      display: flex;
      gap: 12px;

      button[type='submit'] {
        @include set-background(#0abd0a);
        border: 1px solid #0abd0a;
        font-size: 16px;
        padding: 0 8px;
        border-radius: 45px;
        cursor: pointer;
        transition: 0.3s ease all;

        &:hover {
          color: #0abd0a;
          background-color: transparent;
        }
      }
    }

    input {
      outline: none;
      border: none;
      padding: 8px 18px;
      font-size: 14px;
      border-radius: 45px;
      transition: 0.3s ease all;

      &:focus {
        background-color: #aaa;
      }
    }
  }
}
