* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1450px;
  margin: auto;

  @media (max-width: 900px) {
    margin: auto 8px;
  }
}

.icon-list {
  display: flex;
  align-items: center;

  .icon {
    font-size: 28px;
    color: #111;
    transition: 0.3s ease all;

    &:hover {
      color: #aaa;
    }
  }
}

@import 'pages/album';
@import 'pages/artist';
