@import 'color';
@import 'config';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: $containerWidth;
  margin: auto;
}

.icon-list {
  display: flex;
  align-items: center;

  .icon {
    font-size: 28px;
    color: $textMain;
    transition: 0.3s ease all;

    &:hover {
      color: #aaa;
    }
  }
}

@import 'navbar';
@import 'album_card';

@import 'pages/album';
@import 'pages/artist';

@import 'responsive';
